# ============================================
# 数据库连接配置（TypeORM 用这些参数连 MySQL）
# ============================================
DB_HOST=
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=typescript_dev

# ============================================
# 数据库连接配置（ioredis 用这些参数连 Redis）
# ============================================
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ============================================
# 应用自身配置（NestJS 用这个参数启动服务）
# ============================================
PORT=3001

MAX_LOGIN_FAIL=5;
LOCK_DURATION_MIN=5;

JWT_SECRET=asgt5hmw8cvw

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=your@gmail.com
MAIL_PASS=               # 16 位应用专用密码
MAIL_FROM="UI Animation" <your@gmail.com>
